.options {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .option {
    display: flex;
    align-items: center;
  }
}

::ng-deep {
  .warning-radio {
    .p-radiobutton-box {
      border: 2px solid #e69f00 !important;
    }
  }
}
