<div class="container">
  <div class="header">
    <div class="title">Table Filters</div>
    <div class="description">Filter your table data by applying custom criteria.</div>
  </div>
  <div class="body">
    <div class="subtitle">Indicator</div>
    <!-- <p-multiselect [options]="optionss" [(ngModel)]="selectedOptions" optionLabel="name" placeholder="Select Cities" styleClass="w-full md:w-80" /> -->
    <div class="subtitle">Status</div>
    <div class="subtitle">Project</div>
    <div class="subtitle">Lever</div>
    <div class="subtitle">Year</div>
  </div>
</div>
