<div class="card" [routerLink]="['/project-detail', project.projectId]" [class.header-project-details]="isHeader">
  <div class="card-content">
    <div class="organization-identifier">
      <div class="project">
        <div class="project-id">
          @if (isHeader) {
            <span class="project-id">PROJECT CODE:&nbsp;</span>
          }
          <label class="project-id" for="username">{{ project.projectId }}</label>
        </div>
        <label class="project-name" for="username">{{ project.projectName }}</label>
      </div>
      @if (isHeader === false) {
        <div class="more-vert">
          <span class="material-symbols-rounded"> more_vert </span>
        </div>
      }
    </div>
    <div class="project-info">
      <div class="principal-investigator">
        <span class="project-title">Principal Investigator</span>
        <span class="material-symbols-rounded"> arrow_forward </span>
        <label class="project-data" for="username">{{ project.principalInvestigator }}</label>
      </div>
      <div class="start-date">
        <span class="project-title">Start Date</span>
        <span class="material-symbols-rounded"> arrow_forward </span>
        <label class="project-data" for="username">{{ project.startDate }}</label>
      </div>
      <div class="end-date">
        <span class="project-title">End Date</span>
        <span class="material-symbols-rounded"> arrow_forward </span>
        <label class="project-data" for="username">{{ project.endDate }}</label>
      </div>
    </div>
    <div class="project-indicators">
      @for (indicator of project.indicatorList; track $index) {
        <div class="indicator">
          <div class="indicator-number-container">
            <i class="material-symbols-rounded" [class]="indicator.class">{{ indicator.icon }}</i>
            <label class="indicator-number" for="username">{{ indicator.number }}</label>
          </div>
          <label class="indicator-type" for="username">{{ indicator.type }}</label>
        </div>
      }
    </div>
  </div>
</div>
