<a class="block h-auto w-full border border-[#E8EBED] px-[25px] py-[18px] text-inherit no-underline hover:text-inherit hover:no-underline"
  [routerLink]="detailLink"
  [class.border-[0.4px]]="isHeader" [class.border-[0.8px]]="!isHeader" [class.bg-[#F4F7F9]]="isHeader"
  [class.bg-[#FCFCFC]]="!isHeader" [class.cursor-default]="isHeader && !detailLink"
  [class.cursor-pointer]="!!detailLink && !isHeader" [class.m-0]="isHeader" [class.rounded-none]="isHeader">
  <div class="grid gap-5">
    <div
      class="flex min-w-0 items-center gap-3 min-w-0 font-['Barlow'] text-[17px] font-semibold leading-6 text-[#112F5C]"
      [class.flex-wrap]="!isHeader" [class.flex-nowrap]="isHeader">
      <app-custom-tag class="shrink-0" [statusId]="getStatusDisplay().statusId"
        [statusName]="getStatusDisplay().statusName"></app-custom-tag>
      <span class="shrink-0 ">{{
        project.agreement_id }} - {{ projectTitle() }}</span>
    </div>

    @if (showGeneralInfo) {
    <div class="flex flex-wrap items-center">
      <app-project-general-info class="contents" [project]="project"></app-project-general-info>
    </div>
    }

    @if (showIndicators) {
    <app-project-indicator-filters [project]="project"></app-project-indicator-filters>
    }
  </div>
</a>