.card {
  height: auto;
  width: 100%;
  border: 0.8px solid #e8ebed;
  background-color: #F4F7F9;
  padding: 40px 25px;
  padding-bottom: 18px;
  text-decoration: none;
  display: block;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }

  .card-content {
    display: grid;
    gap: 20px;

    .organization-identifier {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto auto;

      .project {
        display: grid;
        margin: 0;
        gap: 0;

        .project-id {
          grid-row: 1;
          font-family: 'Space Grotesk', sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 17px;
          color: #8d9299;
        }

        .project-name {
          grid-row: 2;
          font-family: Barlow, sans-serif;
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          color: #112f5c;
        }
      }

      .more-vert {
        grid-column: 2;
        text-align: right;
        align-content: center;
        color: #8d9299;
      }
    }

    .project-info {
      display: flex;

      .project-title {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #8d9299;
      }

      .project-data {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 13px;
        font-weight: 450;
        line-height: 18px;
        color: #345b8f;
      }

      .principal-investigator {
        display: flex;
        align-items: center;
        padding-right: 20px;
      }

      .material-symbols-rounded {
        font-size: 18px;
        color: #8d9299;
        margin: 0 4px;
      }

      .start-date {
        display: flex;
        align-items: center;
        padding: 0 20px;
      }

      .end-date {
        display: flex;
        align-items: center;
        padding: 0 20px;
      }
    }

    .project-indicators {
      .indicator {
        .indicator-number-container {
          display: flex;
          align-items: center;
          gap: 5px;

          .output-icon {
            color: #7cb580;
          }

          .outcome-icon {
            color: #f58220;
          }

          .indicator-number {
            font-family: 'Space Grotesk', sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: #112f5c;
          }
        }

        .indicator-type {
          display: grid;
          font-family: 'Space Grotesk', sans-serif;
          font-size: 12px;
          padding-top: 4px;
          font-weight: 400;
          line-height: 16px;
          color: #8d9299;
          text-transform: uppercase;
        }
      }
    }
  }

  label {
    cursor: pointer;
  }
}

.header-project-details {
  background-color: #f4f7f9 !important;
  border: 0.4px solid #e8ebed !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  margin: 0 !important;
  cursor: default !important;

  .project {
    gap: 5px !important;
  }
}
