<div class="flex justify-end">
  <p-button (click)="addStructure()" icon="pi pi-plus" [text]="true" severity="primary" size="small"> Add Structure </p-button>
</div>
<p-table
  [value]="setUpProjectService.strcutureGrouped()"
  sortField="representative.name"
  sortMode="single"
  dataKey="representative.name"
  size="small"
  rowGroupMode="subheader"
  groupRowsBy="representative.code"
  [tableStyle]="{ 'min-width': '70rem' }">
  <ng-template #header>
    <tr>
      <th></th>
      <th style="width: 20%">Code</th>
      <th style="width: 20%">name</th>
      <th style="width: 60%">indicators</th>
      <th style="width: 10%">actions</th>
    </tr>
  </ng-template>
  <ng-template #groupheader let-customer let-i="rowIndex" let-rowIndex="rowIndex" let-expanded="expanded">
    <tr>
      <td>
        @if (customer.representative?.itemsCount) {
          <button
            [attr.isExpanded]="expanded ? 1 : 0"
            [id]="'toggle-row-' + customer.representative.id"
            type="button"
            pButton
            pRipple
            [pRowToggler]="customer"
            text
            rounded
            plain
            class="mr-2 cursor-pointer"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
            <span class="sr-only">Toggle row</span>
          </button>
        }
      </td>
      <td>
        @if (customer.representative.newStructure) {
          <p-tag [value]="'New ' + setUpProjectService.level1Name()" icon="pi pi-sparkles" severity="success" />
        } @else {
          {{ customer.representative.code }}
        }
      </td>
      <td>
        @if (customer.representative.editing) {
          <input type="text" pInputText (keyup.enter)="saveEditingLevel1(customer)" [(ngModel)]="level1NameInput" />
        } @else {
          <p-tag [value]="customer.representative.name" severity="secondary" icon="pi pi-sitemap" />
        }
      </td>
      <td>
        <app-table-indicator-item [indicators]="customer.representative.indicators" />
      </td>
      <td>
        <div class="flex gap-2 justify-end">
          @if (customer.representative.editing) {
            <p-button
              (click)="saveEditingLevel1(customer)"
              icon="pi pi-save"
              pTooltip="Save"
              tooltipPosition="left"
              severity="primary"
              [text]="true"
              size="small">
            </p-button>
            <p-button
              (click)="changeEditingLevel1(customer)"
              icon="pi pi-times"
              pTooltip="Cancel"
              tooltipPosition="left"
              severity="danger"
              [text]="true"
              size="small">
            </p-button>
          } @else {
            <p-button
              (click)="addNewItem(customer, 'toggle-row-' + customer.representative.id)"
              icon="pi pi-plus"
              [pTooltip]="'Add ' + setUpProjectService.level2Name()"
              tooltipPosition="left"
              severity="primary"
              [text]="true"
              size="small">
            </p-button>
            <p-button
              (onClick)="
                setUpProjectService.assignIndicatorsModal.set({ show: true, target: { type: 'structure', structureIndex: i, itemIndex: -1 } })
              "
              icon="pi pi-chart-line"
              pTooltip="Map indicators"
              tooltipPosition="left"
              severity="primary"
              [text]="true"
              size="small">
            </p-button>
            <p-button
              (click)="changeEditingLevel1(customer)"
              icon="pi pi-pencil"
              pTooltip="Edit"
              tooltipPosition="left"
              severity="primary"
              [text]="true"
              size="small">
            </p-button>
            <p-button
              (click)="deleteStructure(customer)"
              icon="pi pi-trash"
              pTooltip="Delete"
              tooltipPosition="left"
              severity="danger"
              [text]="true"
              size="small">
            </p-button>
          }
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template #groupfooter let-customer>
    <tr class="p-rowgroup-footer">
      <td colspan="5" style="text-align: center">Total {{ setUpProjectService.level2Name() }}: {{ customer.representative.itemsCount }}</td>
    </tr>
  </ng-template>
  <ng-template #expandedrow let-item>
    @if (!item.ghostItem) {
      <tr style="background-color: #f4f7ff">
        <td></td>
        <td>
          @if (item.newItem) {
            <p-tag [value]="'New ' + setUpProjectService.level2Name()" severity="success" icon="pi pi-sparkles" />
          } @else {
            {{ item.code }}
          }
        </td>
        <td>
          @if (item.editing) {
            <input (keyup.enter)="saveEditingLevel2(item)" type="text" pInputText [(ngModel)]="level2NameInput" />
          } @else {
            <p-tag [value]="item.name" severity="info" icon="pi pi-folder" />
          }
        </td>
        <td><app-table-indicator-item [indicators]="item.indicators" /></td>
        <td>
          <div class="flex gap-2">
            @if (item.editing) {
              <p-button
                (click)="saveEditingLevel2(item)"
                icon="pi pi-save"
                pTooltip="Save"
                tooltipPosition="left"
                severity="primary"
                [text]="true"
                size="small">
              </p-button>
              <p-button
                (click)="deleteItem(item, 'toggle-row-' + item.representative.id)"
                icon="pi pi-times"
                pTooltip="Cancel"
                tooltipPosition="left"
                severity="danger"
                [text]="true"
                size="small">
              </p-button>
            } @else {
              <p-button
                (click)="changeEditingLevel2(item)"
                icon="pi pi-pencil"
                pTooltip="Edit"
                tooltipPosition="left"
                severity="primary"
                [text]="true"
                size="small">
              </p-button>
              <p-button
                (click)="deleteItem(item, 'toggle-row-' + item.representative.id)"
                icon="pi pi-trash"
                pTooltip="Delete"
                tooltipPosition="left"
                severity="danger"
                [text]="true"
                size="small">
              </p-button>
            }
          </div>
        </td>
      </tr>
    }
  </ng-template>
</p-table>
