.items {
  display: flex;
  flex-direction: column;

  .item {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    i {
      cursor: pointer;
      color: rgb(187 0 50);
    }
  }
}
