@let hss = this.cache.hasSmallScreen();
<div
  [ngStyle]="{
    paddingLeft: cache.isSidebarCollapsed() ? '97px' : '282px'
  }"
  class="section-header w-full pl-8  left-0  {{ hss ? 'p-[5px]' : 'p-[10px]' }} calc(100% - 65px) "
  id="section-sidebar">
  <div class="flex gap-7">
    <div class="section-title {{ hss ? 'text-[18px]' : 'text-[18px]' }} text-slate-600 font-small">
      {{ welcomeMessage() }}
    </div>
  </div>

  @if (this.cache.showSectionHeaderActions()) {
    <div class="buttons-container rs-gap-x-[15]">
      <div class="flex items-center">
        <p-button variant="text" pTooltip="Submission history" tooltipPosition="left" (onClick)="cache.showSubmissionHistory.set(true)">
          <ng-template pTemplate="icon">
            <i class="material-symbols-rounded text-[#035BA9]">overview</i>
          </ng-template>
        </p-button>
        @if (showDeleteOption()) {
          <p-menu #menu [model]="items()" [popup]="true" [appendTo]="'body'" />
          <p-button (onClick)="menu.toggle($event)" [text]="true" size="small" icon="pi pi-ellipsis-v" [style]="{ color: '#8D9299' }" />
        }
      </div>
    </div>
  }
</div>
