<div class="section-header rs-p-[20] md:rs-p-[10]" id="section-sidebar">
  <div class="section-header-content">
    <div class="navigation-controls rs-gap-[8] md:rs-gap-[4]">
      @if (canGoBack()) {
        <button class="nav-button" (click)="historyPanel.toggle($event)" pTooltip="Navigation History" tooltipPosition="bottom">
          <span class="material-symbols-rounded md:rs-fs-[18] rs-fs-[24]">history</span>
        </button>
        <button class="nav-button" (click)="goBack()" pTooltip="Go Back" tooltipPosition="bottom">
          <span class="material-symbols-rounded md:rs-fs-[18] rs-fs-[24]">arrow_back</span>
        </button>
      }
    </div>

    <p-overlayPanel #historyPanel>
      <div class="history-list">
        @for (item of filteredHistory(); track $index; let i = $index) {
          <div class="history-item" (click)="navigateToHistoryItem(i)">
            <span class="material-symbols-rounded">history</span>
            <span>{{ getHistoryItemTitle(item) }}</span>
          </div>
        }
      </div>
    </p-overlayPanel>

    <div class="title md:rs-fs-[8] rs-fs-[12]">
      <h1>{{ welcomeMessage() }}</h1>
    </div>
  </div>

  <div class="buttons-container rs-gap-x-[15]">
    <p-button [outlined]="true" size="small" icon="pi pi-share-alt" />
    <p-button [outlined]="true" size="small" icon="pi pi-download" />
    <div>
      <p-menu #menu [model]="items" [popup]="true" />
      <p-button (onClick)="menu.toggle($event)" [text]="true" size="small" icon="pi pi-ellipsis-v" />
    </div>
  </div>
</div>
