.project-detail__surface {
  background: #fff;
  border: 1px solid #e8ebed;
  border-radius: 8px;
  overflow: hidden;
}

.project-detail__tab--active {
  border-bottom-color: #035ba9 !important;
}

.project-detail__tab-content {
  padding: 24px 20px 28px;

  &--results {
    padding: 0;
  }
}

@media screen and (width >= 768px) {
  .project-detail__tab-content {
    padding: 28px 24px 32px;

    &--results {
      padding: 0;
    }
  }
}
