<div class="w-full">
  <app-project-item [project]="currentProject()" [isHeader]="true"></app-project-item>
</div>
<div class="py-[30px] px-[40px] w-full">
  <p-tabs value="/">
    <p-tablist>
      @for (tab of tabs(); track tab.route) {
        @if (!tab.hidden) {
          <p-tab [value]="tab.route" [routerLink]="tab.route" class="flex items-center !gap-2 text-inherit">
            <span>{{ tab.label }}</span>
          </p-tab>
        }
      }
    </p-tablist>
  </p-tabs>
  <router-outlet />
  <!-- <app-project-results-table [contractId]="contractId()"></app-project-results-table> -->
</div>
