<div class="input-container">
  @if (label) {
    <label class="label" for="username">{{ label }}</label>
  }
  @if (description) {
    <small class="description" for="username">{{ description }}</small>
  }

  @if (this.currentResultIsLoading()) {
    <p-skeleton width="100%" height="41px" styleClass="mb-2" />
  } @else {
    <p-dropdown [disabled]="disabled" [style]="{ width: '100%' }" (ngModelChange)="this.onClickItem($event)" [loading]="this.service.loading()" [options]="this.service.list()" [filter]="true" [filterBy]="this.optionLabel" [(ngModel)]="value" [virtualScroll]="true" [virtualScrollItemSize]="41" [optionValue]="this.optionValue.option" [optionLabel]="this.optionLabel" placeholder="Select a Primary Contract"> </p-dropdown>
  }
</div>
