<!-- <p-dropdown [style]="{ width: '100%' }" [loading]="this.getContractsService.loading()" [options]="this.getContractsService.list()" [filter]="true" filterBy="description" [(ngModel)]="body().contract_id" [virtualScroll]="true" [virtualScrollItemSize]="41" optionValue="agreement_id" optionLabel="description" placeholder="Select a Primary Contract">
  <ng-template pTemplate="selectedItem">
    @if (body().contract_id) {
      <div class="flex align-items-center gap-2">
        <div>One selected</div>
      </div>
    }
  </ng-template>
</p-dropdown> -->
