.tilt-container {
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out;
}

.tilt-box {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out;

  &:hover {
    transition: transform 0.1s ease-out;
  }
}

.header-image {
  width: 100%;
  height: auto;
  display: block;
  transform: translateZ(0);
  filter: drop-shadow(0 0 20px rgb(0 0 0 / 20%));

  @media (width <= 1200px) {
    height: 240px;
  }
}

.character-image {
  position: absolute;
  top: 43.5%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(120px);
  width: auto;
  height: 90%;
  max-height: 400px;
  object-fit: contain;
  pointer-events: none;
  filter: drop-shadow(0 10px 15px rgb(0 0 0 / 30%)) drop-shadow(0 20px 30px rgb(0 0 0 / 20%)) drop-shadow(0 30px 45px rgb(0 0 0 / 10%));

  @media (width <= 1200px) {
    top: 0;
    left: 50%;
    transform: translateX(-55%) translateZ(120px);
    max-height: 212.7px;
    width: auto;
    object-fit: cover;
    object-position: bottom;
  }

  @media (width <= 900px) {
    top: 0;
    left: 50%;
    transform: translateX(-56.8%) translateZ(120px);
    max-height: 212.7px;
    width: auto;
    object-fit: cover;
    object-position: bottom;
  }
}

.logo {
  display: grid;
  position: absolute;
  top: 15%;
  left: 6%;
  z-index: 2;
  transform: translateZ(80px) translateX(15px);
  transform-style: preserve-3d;
  filter: drop-shadow(0 5px 10px rgb(0 0 0 / 25%)) drop-shadow(0 15px 25px rgb(0 0 0 / 15%));

  .star-logo {
    width: 90px;
    transform: translateZ(20px);
    filter: drop-shadow(0 4px 8px rgb(0 0 0 / 20%)) drop-shadow(0 8px 16px rgb(0 0 0 / 15%));
    transition: transform 0.1s ease-out;
  }
}

.text-content {
  display: grid;
  position: absolute;
  top: 45%;
  left: 7%;
  gap: 10px;
  z-index: 2;
  transform: translateZ(90px) translateX(20px);

  .title {
    font-family: Barlow, sans-serif;
    font-size: 28px;
    font-weight: 800;
    line-height: 34px;
    color: #fff;
    text-transform: uppercase;
    text-shadow:
      0 4px 8px rgb(0 0 0 / 15%),
      0 8px 16px rgb(0 0 0 / 12%),
      0 16px 32px rgb(0 0 0 / 8%),
      0 32px 64px rgb(0 0 0 / 5%);

    @media (width <= 1200px) {
      font-size: 24px;
      max-width: 450px;
      line-height: 26px;
    }
    @media (width <= 900px) {
      max-width: 350px;
    }
  }

  .description {
    font-family: Barlow, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #fff;
    text-shadow:
      0 2px 4px rgb(0 0 0 / 15%),
      0 4px 8px rgb(0 0 0 / 12%),
      0 8px 16px rgb(0 0 0 / 8%),
      0 16px 32px rgb(0 0 0 / 5%);

    @media (width <= 900px) {
      max-width: 350px;
    }
  }

  @media (width <= 900px) {
    top: 40%;
  }
}

@media (width <= 768px) {
  .text-content {
    .title {
      font-size: 24px;
      line-height: 30px;
    }

    .description {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
