.container {
  position: relative;
  display: inline-block;

  .header-image {
    width: 100%;
    display: block;
  }

  .logo {
    display: grid;
    position: absolute;
    top: 25%;
    left: 7%;

    .roar-logo {
      width: 70px;
    }
  }
  .text-content {
    display: grid;
    position: absolute;
    top: 45%;
    left: 7%;
    gap: 10px;

    .title {
      font-family: Barlow, sans-serif;
      font-size: 31px;
      font-weight: 800;
      line-height: 37px;
      color: #ffffff;
      text-transform: uppercase;
    }

    .description {
      font-family: Barlow, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      color: #ffffff;
    }
  }
}
