.container {
  margin: 30px;

  .title-text {
    font-family: Barlow;
    font-size: 20px;
    font-weight: 700;
    line-height: 18.15px;
    color: #173f6f;
  }

  .description-text {
    color: #4c5158;
    font-family: Barlow;
    font-size: 17px;
    font-weight: 300;
    line-height: 16.8px;
    text-align: left;
    margin-bottom: 30px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
    margin-bottom: 35px;
    align-items: stretch;

    .card-container {
      border-radius: 10px;
      flex: 1;
      padding: 0;
      height: 320px;
      display: flex;

      .card-content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin-bottom: 15px;

        .icon-background {
          background-color: #d3e7d5;
          border-radius: 50%;
          width: 40px !important;
          height: 40px !important;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .icon-background-2 {
          background-color: #b0c4dd;
          border-radius: 50%;
          width: 40px !important;
          height: 40px !important;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .output-icon {
          color: #235b2d;
        }

        .outcome-icon {
          color: #112f5c;
        }
      }

      .card-header {
        margin-left: 15px;

        .type-text {
          color: #8d9299;
          font-family: 'Space Grotesk', sans-serif;
          font-size: 13px;
          font-weight: 300;
          letter-spacing: 5px;
          margin: 0;
        }

        .title-text {
          color: #153c71;
          font-family: Space Grotesk;
          font-size: 20px;
          font-weight: 600;
          margin-top: 3px;
        }
      }
    }

    p {
      margin-top: 10px;
      line-height: 1.5;
      color: #2c3e50;
      margin: 0;
    }
  }
}
