<div class="container">
  <h3 class="title-text">{{ indicatorSE.aboutIndicatorData.output.title }}</h3>
  <p class="description-text">{{ indicatorSE.aboutIndicatorData.output.description }}</p>
  <div class="options">
    @for (item of indicatorSE.aboutIndicatorData.output.list; track $index) {
      <p-card class="card-container">
        <div class="card-content">
          <div class="icon-background">
            <i class="material-symbols-rounded output-icon">{{ item.icon }}</i>
          </div>
          <div class="card-header">
            <h6 class="type-text">{{ item.type }}</h6>
            <h3 class="title-text">{{ item.title }}</h3>
          </div>
        </div>
        <p class="description-text">{{ item.description }}</p>
      </p-card>
    }
  </div>
  <h3 class="title-text">{{ indicatorSE.aboutIndicatorData.outcome.title }}</h3>
  <p class="description-text">{{ indicatorSE.aboutIndicatorData.outcome.description }}</p>
  <div class="options">
    @for (item of indicatorSE.aboutIndicatorData.outcome.list; track $index) {
      <p-card class="card-container">
        <div class="card-content">
          <div class="icon-background-2">
            <i class="material-symbols-rounded outcome-icon">{{ item.icon }}</i>
          </div>
          <div class="card-header">
            <h6 class="type-text">{{ item.type }}</h6>
            <h3 class="title-text">{{ item.title }}</h3>
          </div>
        </div>
        <p class="description-text">{{ item.description }}</p>
      </p-card>
    }
  </div>
</div>
