<div class="feature-first">
  <div class="feature-header">
    <h2 class="feature-header-subtitle">ESSENTIAL FEATURES</h2>
    <h1 class="feature-header-title !font-[space_grotesk]">Empower Your Work</h1>
  </div>

  <div class="feature-first-content">
    <div class="feature-first-content-item">
      <div class="feature-first-content-item-header">
        <div style="width: 100px">
          <img src="images/landing/submit-feature.svg" alt="Submit feature" style="width: 100%" />
        </div>
        <div>
          <h2 class="feature-first-content-item-header-subtitle">SUBMIT</h2>
          <h1 class="feature-first-content-item-header-title !font-[space_grotesk]">New Results</h1>
        </div>
      </div>

      <p class="feature-first-content-item-description">
        Effortlessly document and share your project outcomes with intuitive tools designed for efficiency.
      </p>
    </div>

    <div class="feature-first-content-item">
      <div class="feature-first-content-item-header">
        <img src="images/landing/search-feature.svg" alt="Search feature" />
        <div>
          <h2 class="feature-first-content-item-header-subtitle">SEARCH</h2>
          <h1 class="feature-first-content-item-header-title !font-[space_grotesk]">A Result</h1>
        </div>
      </div>

      <p class="feature-first-content-item-description">
        Easily explore a robust database to find specific results or projects, navigate with speed and accuracy.
      </p>
    </div>

    <div class="feature-first-content-item">
      <div class="feature-first-content-item-header">
        <img src="images/landing/analyze-feature.svg" alt="Feature 1" />
        <div>
          <h2 class="feature-first-content-item-header-subtitle">ANALYZE</h2>
          <h1 class="feature-first-content-item-header-title !font-[space_grotesk]">Key Data</h1>
        </div>
      </div>

      <p class="feature-first-content-item-description">Dive into comprehensive data analytics to uncover trends and inform decision-making.</p>
    </div>
  </div>
</div>

<div class="feature-second">
  <div class="feature-second-content">
    <img src="images/landing/worker-image.png" alt="Worker" />
    <div class="feature-second-content-information">
      <div class="feature-header">
        <h2 class="feature-header-subtitle pb-3">AI FEATURE</h2>
        <p class="feature-header-title !font-[space_grotesk] flex items-center gap-2 flex-wrap whitespace-nowrap">
          Reuse information without
          <span class="whitespace-nowrap feature-header-title !font-[space_grotesk]"
            >duplicating effort <img src="images/spark.png" class="inline w-8 h-10"
          /></span>
        </p>
      </div>

      <div class="w-full pt-8">
        <span class="text-left text-[22px] font-[400] text-[#4C5158] leading-[23px]"
          >Upload a file with your result data, and our AI will extract essential information and identify the type of indicator automatically. Our AI
          will scan your file to identify results and extract the relevant data to help complete the result forms, so you don’t have to re-enter the
          same information multiple times.</span
        >
      </div>
    </div>
  </div>
</div>
