.container {
  display: grid;
  grid-template-columns: 339px 1fr;
}

.result-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.result-content router-outlet + * {
  flex: 1;
  display: flex;
  flex-direction: column;
}
