.container {
  padding: 30px;
}

.analyze-result-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-height: 60vh;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
:host ::ng-deep input:focus,
:host ::ng-deep input:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}
