<div class="login-container">
  <div class="login-card">
    <div class="logo-section">
      <img src="/STAR-login.jpg" alt="STAR logo" width="90%" />
    </div>

    <div class="login-form">
      <h2>Sign in with your CGIAR credentials</h2>
      <button class="corp-id-btn" (click)="cognito.loginWithAzureAd()" [disabled]="cognito.isLoadingAzureAd()">
        Continue with your CGIAR account

        @if (cognito.isLoadingAzureAd()) {
          <i class="pi pi-spin pi-spinner ml-2" style="font-size: 1rem"></i>
        }
      </button>
    </div>
  </div>
</div>
