.oicr-workflow-status {
  .workflow-step-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.current-step {
      .current-step-indicator {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        .triangle {
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 6px solid #173F6F;
        }
      }
    }

    .workflow-step {
      padding: 4px 12px;
      border-radius: 7px;
      font-size: 10px;
      font-weight: 400;
      color: #B9C0C5;
      /* stylelint-disable-next-line */
      background-color: #F4F7F9;/* NOSONAR */
      border: 1px solid #B9C0C5;
      white-space: nowrap;

      &.active {
        background-color: #C4C4C433;
        /* stylelint-disable-next-line */
        color: #777C83;/* NOSONAR */
        font-weight: 500;
        font-size: 12px !important;
        border-radius: 6px;
        border: 1px solid #173F6F;
      }
    }
  }
}
