<div
  class="container"
  [class.show-sidebar]="this.showSignal()"
  [style.height]="'calc(100vh - ' + (this.cache.navbarHeight() + this.cache.headerHeight()) + 'px)'">
  <div class="content">
    <div class="header">
      <div class="title-container">
        <span class="title">{{ title }}</span>
        <span class="material-symbols-rounded" (click)="hideSidebar()" (keydown)="hideSidebar()">close</span>
      </div>
      <div class="description">{{ description }}</div>
    </div>
    <div class="scrollable-content">
      <ng-content></ng-content>
    </div>

    @if (hideActions === false) {
      <div class="button-container">
        <p-button label="Cancel" (onClick)="hideSidebar()" [outlined]="true" styleClass="w-full" />
        <p-button [label]="confirmText" (onClick)="confirmSidebar()" [severity]="'primary'" styleClass="w-full" />
      </div>
    }
  </div>
</div>
