<div class="banner">
  <div class="banner-gradient"></div>
  <img src="/images/landing/banner-photo.png" alt="Banner" class="banner-image" />

  <div class="banner-logos">
    <img src="/images/landing/STAR.svg" alt="STAR logo" style="width: 450px" />
  </div>

  <div class="banner-content">
    <h1 class="banner-title">Simplifying reporting for impact and clarity</h1>
    <p class="banner-description pb-2">
      Improve performance reporting with efficient collaboration and streamlined result management for easier tracking and enhancement
    </p>
    <p-button
      styleClass="h-14 w-66 !bg-[#1689CA] !text-[18px] !border-[#1689CA] !gap-x-4 !rounded-[16px]"
      label="Sign in to the platform"
      size="small"
      icon="pi pi-arrow-right"
      [iconPos]="'right'"
      [routerLink]="['/login']" />
  </div>
</div>
