<div class="banner">
  <div class="banner-gradient"></div>
  <img src="/images/landing/banner-photo.png" alt="Banner" class="banner-image" />

  <div class="banner-logos">
    <img src="/images/landing/STAR.svg" alt="STAR logo" style="width: 450px" />
  </div>

  <div class="banner-content">
    <h1 class="banner-title">Simplifying reporting for impact and clarity</h1>
    <p class="banner-description pb-2">
      Improve performance reporting with efficient collaboration and streamlined result management for easier tracking and enhancement
    </p>
    <p-button
      styleClass="h-12 w-32 !bg-[#1689CA] !text-[16px] !border-[#1689CA] !rounded-[16px]"
      label="Sign In"
      size="small"
      (onClick)="this.redirectToCognito()"
      icon="pi pi-arrow-right"
      [iconPos]="'right'" />
  </div>
</div>
