.card-content {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 100%;
  max-height: 100vh;
  max-width: 339px;
  border-right: 1px solid #e8ebed;
  width: 339px;
  z-index: 1;
  left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 5.5rem;
  margin-top: 2px;
  hr {
    border: 0;
    border-top: 1px solid #dee2e6;
    margin: 20px 0;
  }

  .options-container {
    display: flex;
    flex-direction: column;

    .option {
      color: #173f6f;
      font-size: 14px;
    }

    .material-symbols-rounded {
      font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 24;
      color: #a2a9af;
      font-size: 14px;
    }

    .options {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 20px;
      text-align: center;
      cursor: pointer;
      align-items: center;

      &.active {
        background-color: #cadcf34d;
        margin-left: 5px;
        font-weight: 500;
        border-radius: 5px;
        padding: 5px;

        .greenCheckBorder:not(.greenCheckActive) {
          background-color: #173f6f !important;
        }

        .material-symbols-rounded {
          color: #173f6f;
        }
      }

      &.disabled {
        .option {
          color: #c6c6c6 !important;
          cursor: not-allowed;
        }

        .material-symbols-rounded {
          color: #c6c6c6 !important;
        }
      }
    }
  }
}
