.card-content {
  position: sticky;
  margin: 67px 0 0;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  border-radius: 10px;
  margin-right: 32px;
  width: 280px;
  max-width: 280px;
  top: 20px;

  hr {
    border: 0;
    border-top: 1px solid #dee2e6;
    margin: 20px 0;
  }

  .options-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .option {
      color: #173f6f;
      font-size: 14px;
    }

    .material-symbols-rounded {
      font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 24;
      color: #a2a9af;
      font-size: 14px;
    }

    .options {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 20px;
      text-align: center;
      cursor: pointer;
      align-items: center;

      &.active {
        background-color: #e8ebed;
        margin-left: 5px;
        font-weight: 500;
        border-radius: 10px;
        padding: 5px;

        .greenCheckBorder:not(.greenCheckActive) {
          background-color: #173f6f !important;
        }

        .material-symbols-rounded {
          color: #173f6f;
        }
      }

      &.disabled {
        .option {
          color: #c6c6c6 !important;
          cursor: not-allowed;
        }

        .material-symbols-rounded {
          color: #c6c6c6 !important;
        }
      }
    }
  }
}
