<div class="flex flex gap-2 items-center">
  <p-button
    label="Manage indicators"
    [badge]="indicators.length.toString()"
    icon="pi pi-cog"
    severity="primary"
    [text]="true"
    size="small"
    (onClick)="showAllAction.emit()" />
  <div class="flex flex gap-2 items-center">
    @for (indicator of indicators; track indicator.id; let i = $index) {
      @if (i < 3) {
        <div
          class="bg-blue-100 text-blue-800 px-2 h-6 text-sm rounded-md flex items-center justify-center whitespace-nowrap ellipsis-text overflow-hidden max-w-[50px]"
          [pTooltip]="indicator.name"
          tooltipPosition="left">
          {{ indicator.code }}
        </div>
      }
    }
  </div>
</div>
