<div class="navbar abc-primary-blue-500">
  <div class="logo">
    <img routerLink="home" src="alliance-white.png" alt="" />
  </div>
  <div class="options">
    @for (option of this.options; track $index) {
      <a [routerLink]="option.path" class="option atc-white-1" routerLinkActive="active atc-light-blue-200-i">
        {{ option.label }}
        <a class="option-icon material-symbols-rounded atc-white-1" routerLinkActive="active atc-light-blue-200-i">
          {{ option.icon }}
        </a>
      </a>
    }

    <p-button label="New result" size="small" />
    <div class="icons-container">
      <app-dropdown position="top-left" class="search-dropdown" #dropdown>
        <div dropdown-button>
          <div class="search-box">
            <i class="material-symbols-rounded">search</i>
            <input type="text" placeholder="Search a result" (input)="dropdown.toggleDropdown()" />
          </div>
        </div>
        <div dropdown-content>
          <p>This is an example of a search result...</p>
          <p>This is another example of a search result...</p>
          <p>This is another example of a search result...</p>
        </div>
      </app-dropdown>

      <i class="material-symbols-rounded atc-white-1" (click)="this.darkModeService.toggleDarkMode()">
        {{ this.darkModeService.isDarkModeEnabled() ? 'light_mode' : 'dark_mode' }}
      </i>
      <app-dropdown position="top-right">
        <div dropdown-button>
          <i class="material-symbols-rounded atc-white-1" pBadge severity="danger" value="2">notifications</i>
        </div>
        <div dropdown-content>
          <p>Notification 1</p>
          <p>Notification 2</p>
          <p>Notification 3</p>
        </div>
      </app-dropdown>

      <app-dropdown position="top-right">
        <div dropdown-button>
          <p-avatar label="P" styleClass="mr-2"></p-avatar>
        </div>
        <div dropdown-content>
          <p>Profile</p>
          <p-button size="small" label="Log out" icon="pi pi-sign-in" [loading]="this.cache.isValidatingToken()" (onClick)="logOut()"></p-button>
        </div>
      </app-dropdown>
    </div>
  </div>
</div>
