@let hss = this.cache.hasSmallScreen();
<div id="navbar" #navbar class="navbar bg-[#173F6F]">
  <div class="logo" routerLink="/">
    <img src="STAR.png" alt="" class="{{ hss ? 'h-[40px]' : 'h-[60px]' }}" />
  </div>
  <div class="options">
    @for (option of this.options; track $index) {
      @if (!option.hide) {
        <a
          class="option atc-white-1 {{ hss ? 'py-[15px] px-[15px]' : 'py-[25px] px-[25px]' }}"
          [routerLink]="option.disabled ? null : option.path"
          routerLinkActive="active atc-light-blue-200-i"
          [routerLinkActiveOptions]="{ exact: true }"
          [attr.data-route]="option.path"
          [class.disabled]="option.disabled"
          [attr.aria-disabled]="option.disabled ? true : null">
          {{ option.label }}
          <a class="option-icon material-symbols-rounded atc-white-1" routerLinkActive="active atc-light-blue-200-i">
            {{ option.icon }}
          </a>
          @if (option.underConstruction) {
            <img src="construction.png" class="construction-icon-x1" alt="" />
          }
        </a>
      }
    }

    <p-button
      label="Submit result"
      severity="info"
      size="small"
      styleClass="!rounded-[15px] {{ hss ? '!h-7.5 !text-[13px]' : '!h-9 !text-[16px]' }}"
      (onClick)="this.allModalsService.openModal('createResult')"
      [style]="{ 'margin-left': '20px', 'min-width': '105px !important' }" />
    <div class="icons-container">
      <div class="search-box">
        <i class="pi pi-search !text-[12px] px-2"></i>
        <input
          id="search-result-input"
          type="text"
          placeholder="Search"
          class="{{ hss ? '!h-7.5 !text-[13px]' : '!h-9 !text-[16px]' }}"
          (keyup.enter)="this.onSearchTextChange($event)" />
      </div>
      <div dropdown-button (keydown.enter)="this.showDropdown = !this.showDropdown" (click)="this.showDropdown = !this.showDropdown">
        <p-avatar [label]="this.actions.getInitials()" styleClass="!rounded-xl font-[600] flex pb-[1px]"></p-avatar>
      </div>
    </div>
  </div>
</div>

@if (this.showDropdown) {
  <div #dropdownRef class="icons-container fixed top-11 right-14 p-3 z-[9999] bg-white shadow-lg rounded-[4px] w-[280px]">
    <div dropdown-content>
      <div class="profile">
        <div class="account-container">
          <div class="account-header">Account</div>
          <div class="account-content">
            <p-avatar [label]="this.actions.getInitials()" size="large"></p-avatar>
            <div class="account-details">
              <span class="account-name">{{ this.cache.dataCache().user.first_name }} {{ this.cache.dataCache().user.last_name }}</span>
              <span class="account-email">{{ this.cache.dataCache().user.email }}</span>
              <span class="account-role">{{ this.cache.dataCache().user.roleName }}</span>
            </div>
          </div>
        </div>

        <p-button
          size="small"
          label="Log out"
          icon="pi pi-sign-in"
          [loading]="this.cache.isValidatingToken()"
          (onClick)="this.actions.logOut()"></p-button>
      </div>
    </div>
  </div>
}
