.navbar {
  display: flex;
  align-items: center;
  padding: 0 18px;
  box-shadow: 0 0 15px 0 #00000030;
  position: fixed;
  z-index: 3;
  right: 0px;
  width: 100%;
  top: 0px;

  .logo {
    min-width: 72px;
    transition: all ease-in-out 0.3s;

    @media (max-width: 1250px) {
      min-width: 46px;
    }

    @media (max-height: 768px) {
      min-width: 46px;
    }

    img {
      cursor: pointer;
    }
  }

  .options {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;

    .option {
      transition: all ease-in-out 0.3s;
      display: flex;
      align-items: center;
      text-decoration: none;
      white-space: nowrap;
      font-weight: 500;
      cursor: pointer;
      font-size: 1em;
      min-width: fit-content;

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &:hover {
        background-color: #1b1b1b56;
      }

      &.active {
        position: relative;

        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 12px;
          right: 12px;
          height: 3px;
          background-color: #00b6ff;
        }
      }

      .option-icon {
        margin: -10px 0;
      }
    }

    .notification-icon {
      font-size: 1.3rem !important;
    }

    .search-box {
      background-color: rgb(255 255 255 / 10%);
      border-radius: 15px;
      width: 300px;
      display: flex;
      align-items: center;

      i {
        font-size: 18px;
        color: white;
        margin: 6px;
      }

      input {
        border: none;
        outline: none;
        color: white;
        background: transparent;
        flex-grow: 1;
        padding: 7px 0;
      }

      input::placeholder {
        color: var(--ac-grey-500);
      }
    }

    @media (max-width: 1145px) {
      padding: 0px;
    }
  }

  .icons-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: 1280px) {
      gap: 15px;
    }
  }

  p-button {
    ::ng-deep .p-button {
      .p-button-label {
        line-height: 1;
      }
    }
  }

  i {
    cursor: pointer;
  }

  search-dropdown {
    dropdown-content {
      width: 500px !important;
    }
  }
}

.profile {
  padding: 10px;
}

.account-container {
  width: 250px;
  color: #3e3e3e;
  margin: 20px 0 40px;

  .account-header {
    font-size: 1rem;
    margin-bottom: 30px;
  }

  .account-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    .account-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .account-details {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .account-name {
        font-size: 1rem;
        margin-bottom: 10px;
        color: #909090;
      }

      .account-email {
        font-size: 0.85rem;
        color: #000;
      }

      .account-role {
        font-size: 12px;
        color: white;
        background-color: rgb(37 37 37);
        border-radius: 4px;
        padding: 5px;
        width: max-content;
        margin-top: 10px;
      }
    }
  }
}
