@let hss = this.cache.hasSmallScreen();
<div
  class="sidebar abc-white-1 p-[15px] {{ hss ? 'p-[15px]' : 'p-[30px]' }} {{ cache.isSidebarCollapsed() ? 'w-[65px]' : 'w-[250px]' }}"
  [class.collapsed]="cache.isSidebarCollapsed()">
  <div class="sidebar-header">
    <h2 class="h3 sidebar-title atc-primary-blue-600">Resources</h2>
    <i
      class="material-symbols-rounded sidebar-icon atc-primary-blue-600"
      (click)="this.cache.toggleSidebar()"
      (keydown.enter)="this.cache.toggleSidebar()"
      tabindex="0"
      role="button">
      keyboard_double_arrow_left
    </i>
  </div>
  <div class="h4 my-5 atc-grey-600" [class.hidden]="cache.isSidebarCollapsed()">LEARNING</div>

  <div class="options">
    @for (option of this.options; track $index; let last = $last) {
      @if (!option.hide && !(last && cache.isSidebarCollapsed())) {
        @if (cache.isSidebarCollapsed() === false) {
          @if ($index === this.options.length - 1) {
            <hr class="divider" />
          }
        }
        <div
          class="option atc-primary-blue-400"
          [class]="{ disabled: option.underConstruction }"
          [ngStyle]="{ 'padding-left': !cache.isSidebarCollapsed() ? '10px' : '0' }"
          [routerLink]="option.link"
          [routerLinkActive]="'active'"
          [pTooltip]="cache.isSidebarCollapsed() ? option.label : ''"
          tooltipPosition="right"
          placeholder="Right">
          @if (cache.isSidebarCollapsed() && option.underConstruction) {
            <div class="icon-construction-container">
              <i class="material-symbols-rounded">{{ option.icon }}</i>
              <img src="construction.png" class="construction-icon-x1 icon-construction-container-img" alt="" />
            </div>
          } @else {
            <i class="material-symbols-rounded">{{ option.icon }}</i>
          }

          <div class="body-2 text">{{ option.label }}</div>

          @if (option.underConstruction && !cache.isSidebarCollapsed()) {
            <img src="construction.png" class="construction-icon-x1" alt="" />
          }
        </div>
      }
    }
  </div>
</div>
