.step-inactive {
  background-color: #e8ebed;
}

.step-completed {
  background-color: #1689ca; // Azul cuando está completado
}

.step-in-progress {
  background-color: #1689ca82; // Azul claro cuando está en progreso
}
