@for (alert of this.alertList(); track $index) {
  <div class="alert-overlay">
    <div class="alert">
      <!-- <i class="material-symbols-rounded" [class]="'text-' + alert.severity">{{ this.getIcon(alert.severity) }}</i> -->
      <img [src]="alert.icon" alt="" class="w-[60px]" />
      <div class="summary !text-[{{ alert.color }}]">{{ alert.summary }}</div>
      <div class="detail" [innerHTML]="alert.detail"></div>
      @if (alert.commentLabel) {
        <app-input
          [label]="alert.commentLabel"
          [signal]="body"
          optionValue="commentValue"
          [style]="{ width: '100%' }"
          [isRequired]="alert.commentRequired || false"></app-input>
      }
      <div class="actions">
        <p-button [label]="alert.cancelCallback?.label" (onClick)="alert.cancelCallback?.event?.(); closeAlert($index)" variant="outlined" />
        @if (alert.confirmCallback?.event) {
          <p-button
            [label]="alert.confirmCallback?.label"
            (onClick)="alert.confirmCallback?.event?.(this.body().commentValue); closeAlert($index)"
            [disabled]="alert.commentRequired && !this.body().commentValue" />
        }
        @for (callback of alert.callbacks; track $index) {
          <p-button label="{{ callback.label }}" (onClick)="callback?.event(); closeAlert($index)" />
        }
      </div>
    </div>
  </div>
}
