.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  .items {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    gap: 2rem;
    width: 100%;

    .item {
      width: 100%;
    }
  }

  @media screen and (width <= 768px) {
    .items {
      grid-template-columns: 1fr;
    }
  }
}

@media (orientation: landscape) and (height <= 833px) {
  .items {
    grid-template-columns: 0.7fr 1fr !important;
    gap: 30px !important;
  }
}
