<p-dialog
  header="Edit Profile"
  (onHide)="clearBody()"
  [modal]="true"
  [(visible)]="setUpProjectService.structureDetailModal().show"
  [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-8">Update your information.</span>

  <app-input
    label="Code"
    [isRequired]="true"
    [validateEmpty]="true"
    [signal]="this.body"
    optionValue="code"
    placeholder="Write the title"
    [maxLength]="30"></app-input>

  <app-input
    label="Name"
    [isRequired]="true"
    [validateEmpty]="true"
    [signal]="this.body"
    optionValue="name"
    placeholder="Write the title"
    [maxLength]="30"></app-input>

  <div class="mb-4">
    <h6 class="text-lg font-medium text-gray-700 mb-2">Custom Fields:</h6>
  </div>

  @for (customValue of this.body().custom_values; track $index) {
    <div>
      <app-input
        [label]="customValue().field_name"
        [isRequired]="true"
        [validateEmpty]="true"
        [signal]="customValue"
        optionValue="field_value"
        placeholder="Write the title"
        [maxLength]="30"></app-input>
    </div>
  }

  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="setUpProjectService.structureDetailModal.set({ show: false })" />
    <p-button label="Save" (click)="saveStructure()" />
  </div>
</p-dialog>
